<div id="intro" event-target="intro">
  <img src="/uploads/medias/janvier.gif" width="100%" height="100%">
<!--   <video autoplay loop controls="false">
    <source src="http://res.cloudinary.com/dvaf8x3d3/video/upload/v1513962271/janvier_nxnrdu.webm" type="video/webm">
    <source src="http://res.cloudinary.com/dvaf8x3d3/video/upload/v1513962271/janvier_nxnrdu.mp4" type="video/mp4">
    <source src="http://res.cloudinary.com/dvaf8x3d3/video/upload/v1513962271/janvier_nxnrdu.ogv" type="video/ogg">
  </video> -->
</div>