<div class="event-day small">
  {{ event.startDate.format('D') }}
</div>
<div class="event-infos">
  
  <div class="event-header lead event-infos--item">
    <div class="event-day-num">
      {{ event.startDate.format('d') }}
    </div>
    <div class="event-title">
      {{ event.title }}
    </div>
  </div>

  <div class="event-image event-infos--item">
    {% for asset in event.featuredImage %}
      <img class="lazy lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ asset.getUrl('squareThumb') }}" width="100%" height="100%" />
      <noscript>
        <img src="{{ asset.getUrl('squareThumb') }}" width="100%" height="100%" />
      </noscript>
    {% endfor %}
  </div>   
  
  <div class="event-subheader small event-infos--item">
      <div class="event-calendar"><span class="button">{{event.calendar.name}}</span></div>
      <div class="event-pratical">
        {% if event.tags is defined and event.tags is not empty %}
        <div class="event-pratical--style">
          {% for style in event.tags %}
            <span>{{style}}</span>
          {% endfor %}
        </div>
        {% endif %}      
        <div class="event-pratical--time">
          {% if event.allDay %}
              Toute la journée
          {% else %}
              {% if event.startDate.format("i") != '00' %}
                {{ event.startDate.format("H:i") }} - 
              {% else %}
                {{ event.startDate.format("H") }}H - 
              {% endif %}
              {% if event.noEnd %}
                Aube
              {% else %}
                {% if event.multiDay %}
                    | {{ event.endDate.format("l, F j, Y \\a\\t g:i") }}
                {% else %}
                    {% if event.endDate.format("i") != '00' %}
                      {{ event.endDate.format("H:i") }}
                    {% else %}
                      {{ event.endDate.format("H") }}H
                    {% endif %}
                {% endif %}
              {% endif %}
          {% endif %}
        </div>
        {% if event.tarif is defined and event.tarif is not empty %}
        <div class="event-pratical--price">
          {{event.tarif}}
        </div>
        {% endif %}
      </div>
  </div>
  
  {# if event.artists is defined and event.artists is not empty #}
    <div class="event-artists lead event-infos--item">
      {% for artist in event.artists %}
        {% if loop.index <= 4 %}
        <div class="row">{{artist.title}}</div>
        {% endif %}
      {% endfor %}
      {% if event.artists.total() > 4 %}
        <div class="row">…</div>
      {% endif %}
    </div>
  {# endif #}
</div>