{% set mainTitle = entry.title %}
{% set pageTitle = mainTitle %}

{% extends "_layouts/default" %}

{% block content %}

<div class="content-with-featured default-page">

    {% if entry %}

        <div class="featured-image">
          {% for asset in entry.featuredImage %}
            <img class="lazy lazyload" data-src="{{ asset.getUrl('header') }}" width="100%" height="100%" />
            <noscript>
              <img src="{{ asset.getUrl('header') }}" width="100%" height="100%" />
            </noscript>
          {% endfor %}
        </div>

        <div class="content">
            <div class="page-content">
              {% if entry.body is defined and entry.body is not empty %}
              <section id="description" class="row dn">
                {{entry.body}}
              </section>
              {% endif %}
              {% if entry.sections is defined and entry.sections is not empty %}
                {% for section in entry.sections %}
                <section class="row" section-type="{{section.type}}">
                  {% if section.type == "texte" %}
                    {{section.texte}}
                  {% elseif section.type == "titreTexte" %}
                    <div class="c2 fl" md="c12 mb1">
                      <h4>{{section.titre}}</h4>
                    </div>
                    <div class="c10 fl lead" md="c12">
                      {{section.texte}}
                    </div>
                  {% else %}
                    Erreur
                  {% endif %}
                </section>
                {% endfor %}
              {% endif %}
            </div>
        </div>

    {% endif %}

</div>


{% endblock %}