{% set mainTitle = "Organisateur" %}
{% set pageTitle = entry.title %}

{% extends "_layouts/default" %}

{% block content %}
		<h1>{{ entry.title }}</h1>
		
    <div id="page-description" class="row">{{ entry.body }}</div>
    
    {% if entry.socials|length %}
      <div id="artist-socials" class="row">
        {% for social in entry.socials %}
          {% if social.url|length %}
            <a href="{{social.url}}" target="_blank" rel="nofollow noopener">{{social.type}}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if entry.embeds|length %}
      <div id="page-embeds" class="row">
        {% for asset in entry.embeds %}
          {% set embed = craft.embeddedAssets.fromAsset(asset) %}
          {% if embed %}
            <div class="embed-item">{{ embed.safeHtml|raw }}</div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
{% endblock %}
