{% extends "_layouts/default.html" %}

{# Acquire URL segments #}
    {% set baseUrlSegments = 1 %}
    {% set segment1 = craft.request.segment(baseUrlSegments + 1) %}
    {% set segment2 = craft.request.segment(baseUrlSegments + 2) %}
    {% set segment3 = craft.request.segment(baseUrlSegments + 3) %}
    {% set segment4 = craft.request.segment(baseUrlSegments + 4) %}
    {% set segment5 = craft.request.segment(baseUrlSegments + 5) %}
    {% set segment6 = craft.request.segment(baseUrlSegments + 6) %}

{% set occurrenceDate = null %}
{% if segment3 and segment4 and segment5 %}
    {% set occurrenceDate = segment3~"-"~segment4~"-"~segment5 %}
{% endif %}

{% set event = craft.calendar.event(segment2, {
    occurrenceDate: occurrenceDate,
    occurrenceRangeStart: "today",
    occurrenceRangeEnd: "6 months",
    occurrenceLimit: 10
}) %}
                
{% if event %}
  {# set mainTitle = event.startDate.format('j M Y') #}
  {% set mainTitle = event.calendar.name|capitalize %}
  {% set pageTitle = event.title %}
{% else %}
  {% set mainTitle = "Introuvable" %}
  {% set pageTitle = "Introuvable" %}
{% endif %}
{% set page = "event" %}

{% block content %}

  <div class="content-with-featured">

    {% if event %}

        <div class="featured-image">
          {% for asset in event.featuredImage %}
            <img class="lazy lazyload" data-src="{{ asset.getUrl('header') }}" width="100%" height="100%" />
            <noscript>
              <img src="{{ asset.getUrl('header') }}" width="100%" height="100%" />
            </noscript>
          {% endfor %}
        </div>

        <div class="content">

          <div class="header-content">

            <h1>{{event.title}}</h1>

            <div class="row mt2">
              <div class="c2 fl">
                <div class="event-calendar">
                  <a href="{{ siteUrl }}programmation/month/calendar/{{ event.calendar.handle }}">
                    <span class="button lead">{{event.calendar.name}}</span>
                  </a>  
                </div>
              </div>
              <div class="c5 fl">
                <div class="event-pratical lead">
                  <div class="event-pratical--time">
                    <div>{% if event.multiDay %}Du {% endif %}{{event.startDate.format('j F Y')}}</div>
                    {% if event.allDay %}
                        Toute la journée
                    {% else %}
                        {% if event.startDate.format("i") != '00' %}
                          {{ event.startDate.format("H:i") }}
                        {% else %}
                          {{ event.startDate.format("H") }}H
                        {% endif %}
                        {% if event.noEnd %}
                         - Aube
                        {% else %}
                          {% if event.multiDay %}
                              <div>Au {{ event.endDate.format("j M Y") }}</div>
                              <div>
                                {% if event.endDate.format("i") != '00' %}
                                  {{ event.endDate.format("H:i") }}
                                {% else %}
                                  {{ event.endDate.format("H") }}H
                                {% endif %}
                              </div>
                          {% else %}
                              {% if event.endDate.format("i") != '00' %}
                                 - {{ event.endDate.format("H:i") }}
                              {% else %}
                                 - {{ event.endDate.format("H") }}H
                              {% endif %}
                          {% endif %}
                        {% endif %}
                    {% endif %}
                  </div>
                  {% if event.tags is defined and event.tags is not empty %}
                  <div class="event-pratical--style mt1">
                    {% for style in event.tags %}
                      <span>{{style}}</span>
                    {% endfor %}
                  </div>
                  {% endif %}      
                  {% if event.tarif is defined and event.tarif is not empty %}
                  <div class="event-pratical--price">
                    {{event.tarif}}
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>

            {% if event.artists is defined and event.artists is not empty %}
              <section class="row my2">
                <div class="c2 fl lead">
                  Avec
                </div>
                <div class="c10 fl">
                  <div class="event-artists lead event-infos--item">
                    {% for artist in event.artists %}
                      <div class="row title"><a href="{{artist.url}}" data-target="artiste">{{artist.title}}</a></div>
                    {% endfor %}
                  </div>
                </div>
              </section>
            {% endif %}

          </div>

          <div class="page-content">
            
            {% if event.body is defined and event.body is not empty %}
            <section id="description">
              <h3 class="section-title">Infos</h3>
              {{event.body}}
            </section>
            {% endif %}

            {% if event.embeds is not empty %}
            <section id="page-embeds">
              {% for asset in event.embeds %}
                {% set embed = craft.embeddedAssets.fromAsset(asset) %}
                {% if embed %}
                  <div class="embed-item">{{ embed.safeHtml|raw }}</div>
                {% endif %}
              {% endfor %}
            </section>
          {% endif %}

          {% if event.billetterie is defined and event.billetterie|length %}
            <section id="billetterie">
              <h3 class="section-title">Participer</h3>
              {% for ticket in event.billetterie %}
                {% if ticket.type == "eventFacebook" %}
                  <a href="{{ticket.eventFacebookUrl}}" target="_blank" rel="nofollow noopener"><h3>Event Facebook</h3></a>
                {% elseif ticket.type == "yurplan" %}
                  <a href="{{ticket.yurplanUrl}}" target="_blank" rel="nofollow noopener"><h3>Yurplan</h3></a>
                {% elseif ticket.type == "digitick" %}
                  <a href="{{ticket.digitickUrl}}" target="_blank" rel="nofollow noopener"><h3>Digitick</h3></a>
                {% endif %}
              {% endfor %}
            </section>
          {% endif %}

          </div>

    </div>

    {% else %}
      
      <div class="featured-image"></div>
      <div class="content">
        <p class="lead">Évènement introuvable</p>
      </div>

    {% endif %}

</div>

{% endblock %}
