<div class="content-offset">
  
  {% include "_partials/promo" %}

  <div id="events" class="row" calendar-type="month">
      {% if month.events|length %}
      <div class="month">
        <div class="c12 fl">
          <a href="{{ siteUrl }}programmation/month/{{month.date.format('Y')}}/{{month.date.format('m')}}">
            <div class="month-date">
              <h2>{{month.date.format('F Y')|capitalize}}</h2>
            </div>
          </a>
        </div>
        <div id="events-items" class="c12 fl pt2">
          {% for event in month.events %}
              {% include "programmation/layouts/_event.html" %}
          {% else %}
              <!-- <h3 class="lead">Programmation bientôt disponible</h3> -->
          {% endfor %}
        </div>
      </div>
      {% endif %}
  </div>
  <div id="event-pagination" class="row">
    <a class="previous-month title" href="{{ siteUrl }}programmation/month/{% if segment2 is defined %}{{ segment2 == "calendar" ? "calendar/"~segment3~"/" }}{% endif %}{{ month.previousDate.format('Y/m') }}">
        {% include "_components/arrow_left" %}
        <span>{{ month.previousDate.format('F')|capitalize }}</span>
    </a>

    <a class="next-month title" href="{{ siteUrl }}programmation/month/{% if segment2 is defined %}{{ segment2 == "calendar" ? "calendar/"~segment3~"/" }}{% endif %}{{ month.nextDate.format('Y/m') }}">
        <span>{{ month.nextDate.format('F')|capitalize }}</span>
        {% include "_components/arrow_right" %}
    </a>
  </div>
<!--   <div class="page-load-status c12 fl mt2">
    <div class="infinite-scroll-request">
      <h2>Chargement…</h2>
    </div>
  </div> -->
</div>
