webfont('F', 'F', false, 'normal')

global-reset()

:root
	--main-bg-color $main-bg-color
	--main-title-color $main-title-color
	--main-text-color $main-text-color

*
	//hideselect()
	box-sizing(border-box)

::-webkit-scrollbar
	display none

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background-color $main-bg-color
	background-color var(--main-bg-color)

html
	font-size 10px
	+below($md)
		font-size 1.8vmin

body
	font-family 'F', Helvetica Neue, Arial, sans-serif
	text-rendering optimizeLegibility
	font-smoothing()
	font-size $font-size
	line-height 1
	color $main-text-color
	color var(--main-text-color)
	+below($md)
		font-size ($font-size*1.5)

p
	margin-bottom 1em
	line-height 1

p:last-child
	margin-bottom 0


h1, h2, .title, .section-title
	text-transform uppercase
	font-size $heading
	line-height 0.93
	letter-spacing -.03em

h2
	color $main-title-color
	color var(--main-title-color)

.lead
	text-transform uppercase

.small, #main-menu
	text-transform uppercase
	font-size $font-small
	+below($md)
		font-size ($font-small*1.5)

.button
	border 1px solid
	padding .1em .3em .1em
	text-transform uppercase
	& + .button
		border-left none
	&.active, &.activable:hover
		background $main-text-color
		background var(--main-text-color)
		color $main-title-color
		color var(--main-title-color)
		border-color $main-text-color
		border-color var(--main-text-color)

// ::selection
// 	background alpha($main-text-color, 0.2)
	
// ::-moz-selection
// 	background alpha($main-text-color, 0.2)

video::-webkit-media-controls
	display none

video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.lazy, .plyr
	transition opacity 150ms ease
	opacity 0

.lazy.lazyloaded, .lazy.flickity-lazyloaded, .plyr.plyr--ready
	opacity 1

.row
	span(1)

#main
	span(1)

#container
	span(1)
	margin-top $headerSize
	padding $padding
	// width 'calc(100% - %s)' % ($headerSize*2.8)
	width 'calc(100% - %s)' % ($padding)
	background-color $main-title-color
	background-color var(--main-title-color)
	min-height 'calc(100vh - %s)' % ($headerSize)
	+above($md + 1)
		padding-left (9rem + $padding*4)
	h1, h2, .title
		// color $main-text-color
		// color var(--main-text-color)
		color $main-bg-color
		color var(--main-bg-color)
		svg
			fill $main-bg-color
			fill var(--main-bg-color)
	& > .row
		// padding-left 12rem

body.is-loading
	#page-content
		opacity 0