webfont('F', 'F', false, 'normal')

global-reset()

:root
	--main-bg-color $main-bg-color
	--main-title-color $main-title-color
	--main-text-color $main-text-color
	--main-panel-color $main-panel-color

*
	//hideselect()
	box-sizing(border-box)

::-webkit-scrollbar
	display none

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background-color $main-bg-color
	background-color var(--main-bg-color)

html
	font-size 10px
	+below($sm)
		font-size 1.7vmin

body
	font-family 'F', Helvetica Neue, Arial, sans-serif
	text-rendering optimizeLegibility
	font-smoothing()
	font-size $font-size
	line-height 1
	color $main-text-color
	color var(--main-text-color)
	+below($sm)
		font-size ($font-size*2)

p
	margin-bottom 1em
	line-height 1

p:last-child
	margin-bottom 0


h1, h2, h3, .title, .section-title, .menu-item, #site-title::after, [data-target="back"]::after
	text-transform uppercase
	font-size $heading
	// line-height 0.93
	letter-spacing -.03em

h2
	color $main-title-color
	color var(--main-title-color)

h4
	text-transform uppercase

h3, .section-title
	text-transform uppercase

section.outline
	position relative
	box-shadow -1px -1px
	padding ($padding*2) 0 ($padding) ($padding*2)
	h3.section-title
		position absolute
		margin-bottom 0
		background-color $main-title-color
		background-color var(--main-title-color)
		top -0.7em
		left -0.1em
		padding 0.2em 0.2em 0.2em 0

.lead
	text-transform uppercase
	strong
		text-decoration underline

.small, #main-menu
	text-transform uppercase
	font-size $font-small
	+below($md)
		font-size ($font-small*1.5)

.button
	border 1px solid
	padding .1em .3em .1em
	text-transform uppercase
	& + .button
		border-left none
	&.active, &.activable:hover
		background $main-text-color
		background var(--main-text-color)
		color $main-title-color
		color var(--main-title-color)
		border-color $main-text-color
		border-color var(--main-text-color)

::selection
	background $main-text-color
	background var(--main-text-color)
	color $main-title-color
	color var(--main-title-color)
	
::-moz-selection
	background $main-text-color
	background var(--main-text-color)
	color $main-title-color
	color var(--main-title-color)

video::-webkit-media-controls
	display none

video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.lazy, .plyr
	transition opacity 100ms ease
	opacity 0

.lazy.lazyloaded, .lazy.flickity-lazyloaded, .plyr.plyr--ready
	opacity 1

[event-target]
	cursor pointer

.mobile
	+above($md + 1)
		display none !important

.row
	span(1)

#main
	span(1)

#wrapper, header, #container
	backface-visibility hidden
	-webkit-backface-visibility hidden
	
#wrapper
	span(1)
	position relative
	z-index 4

#container
	span(1)
	transition transform $containerTransition $kinetic
	visibility visible
	position relative
	z-index 5
	margin-top $headerSize
	padding ($padding*1.5) $padding
	// width 'calc(100% - %s)' % ($headerSize*2.8)
	width 'calc(100% - %s)' % ($padding)
	background-color $main-title-color
	background-color var(--main-title-color)
	min-height 'calc(100vh - %s)' % ($headerSize)
	+below($md)
		//padding-bottom 22rem
	+above($md + 1)
		// height 'calc(100vh - %s)' % ($headerSize)
		// overflow-y scroll
	h1, h2, .title
		color $main-text-color
		color var(--main-text-color)
		// color $main-bg-color
		// color var(--main-bg-color)
		// svg
		// 	fill $main-bg-color
		// 	fill var(--main-bg-color)
	a:hover
		color $main-bg-color
		color var(--main-bg-color)

#page-content
	span(1)
	transition opacity 200ms ease

+above($md + 1)
	body.with-intro
		overflow hidden
		header
			transform "translateY(calc(100vh - %s)) translateZ(0)" % ($headerSize)
		#page-panel
			display none
		#main-menu, #container
			visibility hidden
			opacity 0
		#wrapper
			margin-top 100vh
			background-color $main-bg-color
			background-color var(--main-bg-color)
		#java-card
			bottom -21rem
		&.animate
			header
				transition transform ($containerTransition*2) $kinetic
				transform none
			#container
				opacity 1
				visibility visible
			#wrapper
				transition margin-top ($containerTransition*2) $kinetic
				margin-top 0
			#java-card
				transition bottom ($containerTransition*2) $kinetic
				bottom 0

body.is-loading
	#page-content
		opacity 0
	#container
		+above($md + 1)
			// transition transform ($containerTransition*1.5) $kinetic
			// transform translateY(100vh) translateZ(0)
	&.menu-visible
		#container
			+above($md + 1)
				// transform "translateY(100vh) translateX(calc(-50% + %s)) translateZ(0)" % $padding
			// +below($md)
			// 	transform translateY(100vh) translateZ(0) translateX(-100vw)