// webfont('F', 'F', false, 'normal')

global-reset()

*
	//hideselect()
	box-sizing(border-box)

::-webkit-scrollbar
	display none

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $primary

html
	font-size 62.5%
	+below($md)
		font-size 1.8vmin

body
	font-family 'AG', Helvetica Neue, Arial, sans-serif
	font-size ($heading/2)
	line-height 1
	color $secondary
	text-rendering optimizeLegibility
	font-smoothing()

p
	margin-bottom 1em
	line-height 1

p:last-child
	margin-bottom 0

em
	font-family 'AGI'

h1, .title, .section-title
	font-family 'F'
	font-size $heading

h2, h4, .caption, .lead, strong, #menu, .code, .project-link
	font-family 'F'
	em
		font-family 'FI'

small, .people-text, .project-infos, .project-content
	font-size 1.7rem
	+below($md)
		font-size 1.8rem

h4, .caption
	font-size 1.3rem
	+below($md)
		font-size 1.8rem

.people-text
	strong
		font-size ($heading/2)

.project-link::before
	content '\2192'

::selection
	background alpha($secondary, 0.2)
	
::-moz-selection
	background alpha($secondary, 0.2)

video::-webkit-media-controls
	display none

video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}

.embed__thumb>img
	opacity 1
	transition none

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.lazy, .plyr
	transition opacity 300ms ease
	opacity 0

.lazy.lazyloaded, .lazy.flickity-lazyloaded, .plyr.plyr--ready
	opacity 1

#main
	span(1)

#container
	span(1)
	transition transform $containerTransition $kinetic

#main::before
	+below($md)
		content ''
		position fixed
		top 0
		left 0
		width 100%
		height 8rem
		background $primary
		z-index 1

body.is-loading
	#page-content
		opacity 0