// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000

// Metrics
$padding = 2rem
$heading = 6rem
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)
$containerTransition = 500ms