// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$main-bg-color ?= rgb(13,188,125)
$main-title-color ?= rgb(255,255,255)
$main-text-color ?= rgb(0,0,0)

// Metrics
$padding = 1rem
$font-size = 1.7rem
$heading = ($font-size*3)
$headerSize = ($heading + $padding * 2 - 0.3)
$font-small = 1.1rem
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)
$containerTransition = 500ms