.event-pratical
	.event-pratical--style
		span:not(:last-child)::after
			content ', '
	.event-pratical--price
		display block

#event-pagination
	display flex
	justify-content space-between
	text-transform uppercase
	a
		display inline-flex
		align-items center
		svg
			height 0.55em
	.previous-month
		svg
			margin-right 0.2em
	.next-month
		svg
			margin-left 0.2em
	&::after
		display none

#events
	// margin-top ($padding)
	min-height "calc(100vh - %s)" % ($headerSize * 2)
	.month
		span(1)
		// border-bottom 1px solid
		&:not(:last-child)
			// margin-bottom $headerSize
			margin-bottom ($padding*2)
		.month-date
			+above($md + 1)
				//margin-left -11rem
	#events-items
		display flex
		justify-content stretch
		flex-wrap wrap
		.event-item
			position relative
			column(1/4, $gutter:($font-size), $cycle:4)
			margin-bottom ($font-size)
			&:nth-child(4n)
				padding-right 0
				.inner
					// border-right 1px solid
			&:nth-last-child(-n+4)
				margin-bottom 0
				padding-bottom ($font-size)
				+above($md + 1)
					border-bottom 1px solid
			+below($md)
				column(1/2, $gutter:($font-size), $cycle:2)
			+below($sm)
				stack()
				margin-right 0 !important
			.inner
				height 100%
				padding $padding
				border-top 1px solid
				border-left 1px solid
			.event-day
				position absolute
				padding 0 0.5em
				top -0.5em
				left "calc(%s - 0.5em)" % $padding
				background-color $main-title-color
				background-color var(--main-title-color)
			.link-overlay
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				z-index 1
			.event-infos
				height 100%
				display flex
				flex-direction column
				justify-content space-between
			.event-infos--item:not(:last-child)
				margin-bottom 1em
			.event-header
				display flex
				min-height 2em
				.event-day-num
					flex 0 0 ($font-size*3)
					+below($md)
						flex 0 0 ($font-size*4)
			// &:hover
			// 	.event-image::after
			// 		opacity 0
			// 	.event-image img
			// 		filter: none
			.event-image
				width 100%
				padding-left ($font-size*3)
				position relative
				+below($md)
					padding-left ($font-size*4)
				// &::after
				// 	transition opacity 100ms ease
				// 	content ''
				// 	position absolute
				// 	top 0
				// 	left 0
				// 	width 100%
				// 	height 100%
				// 	background-color $main-bg-color
				// 	background-color var(--main-bg-color)
				// 	mix-blend-mode color
				// 	pointer-events none
				img
					// transition filter 100ms ease
					object-fit contain
					object-position center left
					// filter: grayscale(1)
			.event-subheader
				display flex
				.event-calendar
					flex 0 0 ($font-size*3)
					margin-top .3em
					+below($md)
						flex 0 0 ($font-size*4)
			.event-artists
				padding-left ($font-size*3)
				min-height 3em
				flex-grow 1
				+below($md)
					padding-left ($font-size*4)