#java-card
	span(1/3)
	height $javaCard
	position fixed
	bottom 0
	left 0
	padding $padding
	display flex
	justify-content stretch
	transition transform $containerTransition $kinetic
	transform 'translateX(calc(-100% + 9rem + %s)) translateZ(0)' % ($padding*2)
	background-color $main-bg-color
	background-color var(--main-bg-color)
	color $main-panel-color
	color var(--main-panel-color)
	z-index 11
	+below($md)
		display none
	&.visible
		transform none
	#hidden-content
		flex 1 1 auto
		padding-right $padding
	#infos-ticket
		flex 0 0 9rem
		display flex
		flex-direction column
		justify-content space-between
		a#logo
			// padding 0.5rem 1rem 0 0
			svg
				width 100%
				fill $main-panel-color
				fill var(--main-panel-color)
				path
					fill $main-panel-color
					fill var(--main-panel-color)
