fieldset
	legend
		display none
	.field
		margin-bottom ($padding*2)
		.heading
			text-transform uppercase
			font-size $heading
			padding-bottom $padding
			margin-bottom $padding
			border-bottom 1px solid