header
	position fixed
	top 0
	left 0
	width 100%
	padding $padding
	white-space nowrap
	display inline-flex
	justify-content space-between
	z-index 2
	background-color $main-bg-color
	background-color var(--main-bg-color)
	#site-title
		order 1

body.menu-visible
	nav#menu
		transition transform $containerTransition $kinetic, color ($containerTransition/3) ($containerTransition/2) $kinetic
		color $primary
		transform translateZ(0)
		ul
			transform translateZ(0)
	
		