.content-with-featured
	span(1)
	.featured-image
		span(4/12)
		min-height 1px
		img
			width 100%
	.content
		span(8/12)
		padding-left ($padding*2)
		padding-right ($heading*3)
		p
			line-height 1.4
			&:not(:last-child)
				margin-bottom 1em
	.header-content
		span(1)
		&:not(:last-child)
			margin-bottom ($headerSize*2)
		.event-calendar
			margin-top .3em
		.event-artists .title
			color $main-text-color !important
			color var(--main-text-color) !important