.event-page
	span(1)
	.featured-image
		span(5/12)
		height ($headerSize*7)
		img
			object-fit contain
			object-position top left
	.header-content
		span(6/12, $offset: 1/12)
		.event-calendar
			margin-top .3em
	.additional-content
		span(6/12)
		padding-right ($font-size*3)
	.page-content
		span(6/12)
		p
			// font-size ($font-size+0.1)
			line-height 1.6