.in-panel
	display none
	
#page-panel
	transition transform $containerTransition $kinetic
	position fixed
	bottom 0
	right 100%
	width "calc(50% - %s)" % ($padding*2)
	height "calc(100% - %s)" % ($headerSize+$padding+0.5)
	padding ($padding/2) $padding ($javaCard+$padding)
	background $main-panel-color
	background var(--main-panel-color)
	color $main-title-color
	color var(--main-title-color)
	overflow-y scroll
	scroll-behavior smooth
	-webkit-overflow-scrolling touch
	z-index 10
	+below($md)
		width "calc(100% - %s)" % ($padding*2)
	.title a
		color $main-title-color !important
		color var(--main-title-color) !important
	.in-panel
		display block
	.not-in-panel
		display none
	.content-with-featured
		.in-panel > h1
			margin-bottom ($padding/2)
			padding-right ($font-size*2)
		.featured-image
			span(1)
			position initial
			height auto
			padding ($padding/2) 0 $padding (9rem+$padding*2)
			&.empty
				display none
			img
				width 100%
				height auto
				max-height ($headerSize*6+3.5)
				object-position top left
		.header-content, .page-content
			span(1)
			& > .row
				border none
				padding $padding 0
				+above($md + 1)
					padding-left 0
				&.py-half
					padding-top ($padding/2)
					padding-bottom ($padding/2)
				h4.align-top
					margin-top .2em
				.c2
					width (9rem + $padding*2)
				.c5, .c8, .c10
					width 'calc(100% - %s)' % (9rem + $padding*2)
			&:first-child
				border-top 1px solid
			.event-calendar
				margin-top .3em
			.event-artists .title
				color $main-text-color !important
				color var(--main-text-color) !important
		.content-offset
			padding-left 0
	
#page-panel-close
	position absolute
	top ($padding/2)
	right ($padding/2)
	width ($font-size*2)
	height ($font-size*2)
	z-index 10
	cursor pointer
	&::before, &::after
		content ''
		position absolute
		top 50%
		width 100%
		height 1px
		background $main-title-color
		background var(--main-title-color)
		transform-origin center
	&::before
		transform rotate(45deg)
	&::after
		transform rotate(-45deg)
	// display none

body.page-panel
	overflow hidden
	#page-content
		opacity 1
	#page-panel
		transform translateX(100%) translateZ(0)
	#page-panel-close
		display block