.page-header
	padding-right 7em
	margin-bottom $padding
	&.calendar
		padding-right 0
		display flex
		justify-content space-between
		#pagination
			display flex
			flex-direction column
			text-align right
			line-height 1.4
			a:last-child
				// margin-left 1.3em