<!doctype html>
<html class="no-js" lang="fr" data-color="{{siteColors.textColor}}">

  <head>

    {% include "_partials/_head" %}
    {% block seo %}
      {% if entry is defined %}
          {% include "_partials/_seo" with {'entry' : entry } %}
      {% elseif category is defined %}
          {% include "_partials/_seo" with {'entry' : category } %}
      {% endif %}
    {% endblock %}

    {# Global styles #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ craft.config.tmpl.css }}/styles.css?=v3">

    {# Page-specific styles (if they exist) #}
    {% block page_styles %}{% endblock %}

    {# Enable livereload if we're developing locally #}
    {% if craft.config.env == "local" %}
      {% spaceless %}
        <script type="text/javascript">//<![CDATA[
          document.write('<script src="' + (location.protocol || 'http:') + '//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
        //]]></script>
      {% endspaceless %}
    {% endif %}

    <style>
        :root {
          --main-title-color: {{siteColors.mainColor}};
        }
    </style>
    
    <script type="text/javascript" src="https://tags.crwdcntrl.net/c/11979/cc.js?ns=_cc11979" id="LOTCC_11979"></script>
    <script type="text/javascript" language="javascript">_cc11979.bcp();</script>

  </head>

    {% if craft.request.firstSegment == '' %}
      <body class="with-intro" page-type="{{ craft.request.getSegment(1) ?: 'home' }}">
      {% include "_partials/intro" %}
    {% else %}
      <body page-type="{{ craft.request.getSegment(1) ?: 'home' }}">
    {% endif %}

    <div id="wrapper">

      <div id="main-menu">
        <div class="title" event-target="menu">Fermer</div>
        {{craft.olivemenus.getMenuHTML('menu',{ 'menu-id': 'inner-menu' })}}
      </div>

      {% include "_partials/header" %}

      {# Page content #}
      <div id="container" page-type="{{ craft.request.getSegment(1) ?: 'home' }}">

        <div id="page-content">
          {% block content %}{% endblock %}

          <img src="https://secure.adnxs.com/px?id=1057560&seg=15907213&t=2" width="1" height="1" />

        </div>
      
      </div>

      {% include "_partials/footer" %}

    </div>

    <script src="{{ craft.config.tmpl.js }}/scripts.min.js?=v3"></script>

    {% block page_script_tags %}{% endblock %}

    {# Page-specific javascript (if it exists) #}
    {% if block('page_scripts') %}
      <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(){
          {% block page_scripts %}{% endblock %}
        });
      </script>
    {% endif %}

  </body>

</html>
